@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Hello, @ViewBag.Greetings</h1>
        <h3>Your time is: @ViewBag.Message</h3>
    </div>
}
else
{
    <div class="jumbotron">
        <h1>Homepage</h1>
    </div>

    <div class="row">
        <img src="http://img.photobucket.com/albums/v16/PicsOfMax/sad_potato.jpg"/>
    </div>
}