@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Hello, @ViewBag.CurrentUser</h1>
        @if (!ViewBag.UserType) 
        {
            <h3>Your time is: @ViewBag.Message</h3>
        }
    </div>
   
   
    <div class="row">
        <p>@ViewBag.Greetings</p>
    </div>
   
}
else
{
    <div class="jumbotron">
        <h1>Homepage</h1>
    </div>

    <div class="row">
        <img src="http://img.photobucket.com/albums/v16/PicsOfMax/sad_potato.jpg"/>
    </div>
}